body {
    width: 1000px;
    display: grid;
    grid-template-rows: 50px 200px 100px auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid silver;
}

.header {
    grid-row: 1;
    border: 1px solid black;
    text-align: center;
}

h1 {
    padding: 0px;
    margin: 0px;
}



.entry-form {
    grid-row: 2;
    border: 1px solid black;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}




.book-log {
    grid-row: 3;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.book-log > div {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    height: 100px;
    align-items: center;
}





#library-list {
    grid-row: 4;
    border: 1px solid black;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}


input[type="submit"], button {
    appearance: none;
    padding: 5px 20px;
    border-radius: 10px;
}

.Read {
    background-color: rgb(53, 204, 53);
    border: 1px solid rgb(53, 204, 53);
}

.Unread {
    background-color: rgb(223, 37, 37);
    border: 1px solid rgb(223, 37, 37);
}

.cell1 {
    width: 275px;
    height: 50px;
    padding: 10px;
}

.cell2 {
    width: 275px;
    height: 50px;
    padding: 10px;
}

.cell3 {
    min-width: 150px;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.cell4 {
    min-width: 150px;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.cell5 {
    min-width: 150px;
    height: 50px;
    padding: 10px;
    text-align: center;
}